%h2 Login
=form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
	%ul
		%li
			= f.label 'Email'
			%span.input= f.email_field :email

		%li
			= f.label 'Contraseña'
			%span.input= f.password_field :password

		-if devise_mapping.rememberable?
			%li.indent
				.rememberMe
					=f.check_box :remember_me
					=f.label :remember_me, 'Recordarme'

		%li.button= f.submit 'Entrar', :class => 'submit'