-content_for :title do
	Ticket nº
	=@record.ticket.id

-content_for :button_back do
	=link_to "Atras", "/tickets/#{@record.ticket.id}", :class => "back"

-if !@record.text1.blank?
	%h2 Descripción
	%ul
		%li= @record.text1
%h2 Detalle
%ul
	%li= @record.text2
%h2 Usuario
%ul
	%li= @record.user.name
%h2 Fecha
%ul
	%li= @record.created_at.strftime("%d/%m/%Y")

-if @record.attaches.length != 0
	%h2 Adjuntos
	%ul
		-@record.attaches.each do |x|
			%li= link_to x.file_file_name, x.file.url, :target => '_blank'