%h1 Edición Proyecto
= form_for :project, :url => admin_project_path, :html => { :method => :put } do |f|
	%p
		= label_tag 'Nombre'
		= image_tag "square.gif", :class => 'help', :title => "Entre 3 y 30 caracteres"
		%br/
		= f.text_field :name		
	%p
		= label_tag 'Descripcion'
		%br/
		= f.text_area :info, :rows => 7
	%p
		=label_tag 'Estados'

	#statuses
		Marque los estados finales
		=render :partial => 'status_edit', :collection => @project.statuses

	%p
		= submit_tag 'Actualizar', :class => 'submit'
		= " | "
		= link_to "Atras", admin_projects_path