-if @tickets.blank?
	No se han obtenido ningún ticket en la búsqueda.
-else
	%table.lista_recursos
		%thead
			%tr
				%th.ticket_id= "ID"
				%th= "Resumen"
				%th= "Proyecto"
				%th.ticket_estado= "Estado"
				%th.ticket_prioridad= "Prioridad"
				%th.ticket_date= "Fecha"
		%tbody
			-for ticket in @tickets
				%tr{:id => "#{ticket.status.close ? 'closed' : 'opened' }", :style => "#{show_closed ? '' : ticket.status.close ? 'display: none' : ''}"}	
					%td.ticket_id= "##{ticket.id}"
					%td{:title => ticket.description}
						.img_ticket
							= image_tag ticket.user.gravatar_url(:size => 30)
						.info_ticket
							%h4{:class => "#{ticket.status.close ? 'closed' : 'opened' }"}= link_to ticket.title, ticket_path(ticket)
							%span.user_ticket= ticket.user.name
					%td= ticket.project.name
					%td= ticket.status.name
					%td= ticket.priority
					%td= ticket.created_at.strftime("%d/%m/%Y")
	=#will_paginate @tickets