%h2 Cambie su contraseña
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  = f.hidden_field :reset_password_token
  %div= f.password_field :password, :placeholder => "Nueva Contraseña"
  %div= f.password_field :password_confirmation, :placeholder => "Confirme Contraseña"
  %div= f.submit "Cambiar", :class => 'submit'
