%h1 Editar usuario #{@user.login}
= form_for :user, :url => admin_user_path, :html => { :method => :put } do |f|
	%p
		=label_tag 'Nombre'
		%br/
		=f.text_field :name
	%p
		=label_tag 'login'
		%br/
		=f.text_field :login
	%p
		=label_tag 'email'
		%br/
		=f.text_field :email
	%p
		= label_tag 'Grupos'
		-for group in Group.find(:all)
			%br/
			=check_box_tag "user[group_ids][]", group.id, @user.groups.include?(group)
			=group.name
	%p
		= submit_tag 'Actualizar', :class => "submit"
		= " | "
		= link_to "Cancelar", :back
